In [1]:
%load_ext nb_black

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns

from IPython.display import display, HTML

pd.set_option("display.max_columns", 500)
display(HTML("<style>.container { width:90% !important; }</style>"))

In [3]:
raw_df = pd.read_csv('data/titanic.csv')

raw_df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
1340,1276,NaN,2,"Wheeler, Mr. Edwin Frederick""""",male,NaN,0,0,SC/PARIS 2159,12.875,NaN,S,601.0,"Wheeler, Mr. Edwin Charles ""Fred""",24.0,"Bath, Somerset, England",Southampton,"Asheville, North Carolina, US",NaN,NaN,2.0
1679,1119,NaN,3,"McNeill, Miss. Bridget",female,NaN,0,0,370368,7.750,NaN,Q,1019.0,"McNeill, Miss Bridget",27.0,"Trien, Roscommon, Ireland",Queenstown,New York City,NaN,NaN,3.0
450,841,0.0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.925,NaN,S,624.0,"Alhomäki, Mr. Ilmari Rudolf",19.0,"Salo, Finland",Southampton,"Astoria, Oregon, US",NaN,NaN,3.0
718,284,1.0,3,"Dorking, Mr. Edward Arthur",male,19.0,0,0,A/5. 10482,8.050,NaN,S,784.0,"Dorking, Mr. Edward Arthur",18.0,"Liss, Hampshire, England",Southampton,"Oglesby, Illinois, US",B,NaN,3.0
329,264,0.0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.000,B94,S,172.0,"and secretary, Mr. William Henry Harrison",45.0,"Wallasey, Merseyside, England, UK",Southampton,"New York, New York, US",NaN,110MB,1.0

#### Column name descriptions can be found at [Kaggle](https://www.kaggle.com/datasets/pavlofesenko/titanic-extended)

In [4]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1731 entries, 0 to 1730
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1731 non-null   int64
 1   Survived     1192 non-null   float64
 2   Pclass       1731 non-null   int64
 3   Name         1731 non-null   object
 4   Sex          1731 non-null   object
 5   Age          1384 non-null   float64
 6   SibSp        1731 non-null   int64
 7   Parch        1731 non-null   int64
 8   Ticket       1731 non-null   object
 9   Fare         1730 non-null   float64
 10  Cabin        403 non-null    object
 11  Embarked     1729 non-null   object
 12  WikiId       1723 non-null   float64
 13  Name_wiki    1723 non-null   object
 14  Age_wiki     1721 non-null   float64
 15  Hometown     1723 non-null   object
 16  Boarded      1723 non-null   object
 17  Destination  1723 non-null   object
 18  Lifeboat     675 non-null    object
 19  Body         167 non-null    object
 20  Class        1723 non-null   float64
dtypes: float64(6), int64(4), object(11)
memory usage: 284.1+ KB

In [5]:
raw_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,WikiId,Age_wiki,Class
count,1731.000000,1192.000000,1731.000000,1384.000000,1731.000000,1731.000000,1730.000000,1723.000000,1721.000000,1723.000000
mean,653.066436,0.390940,2.288850,29.994415,0.498556,0.395147,33.158523,656.217063,29.526444,2.286709
std,374.901274,0.488166,0.839617,14.307625,1.061885,0.879345,50.405255,381.315291,13.698111,0.841838
min,1.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000,1.000000,0.170000,1.000000
25%,328.500000,0.000000,2.000000,21.000000,0.000000,0.000000,7.895800,323.500000,21.000000,1.000000
50%,653.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.427100,660.000000,28.000000,3.000000
75%,977.500000,1.000000,3.000000,39.000000,1.000000,0.000000,31.275000,984.000000,38.000000,3.000000
max,1309.000000,1.000000,3.000000,80.000000,8.000000,9.000000,512.329200,1314.000000,74.000000,3.000000

In [6]:
def count_na_per_column(dataset: pd.DataFrame) -> None:
        
        for column_name in dataset.columns:
                nan_values = dataset[column_name].isna().sum()
                print(f'{column_name}: {nan_values}')
    
count_na_per_column(raw_df)

PassengerId: 0
Survived: 539
Pclass: 0
Name: 0
Sex: 0
Age: 347
SibSp: 0
Parch: 0
Ticket: 0
Fare: 1
Cabin: 1328
Embarked: 2
WikiId: 8
Name_wiki: 8
Age_wiki: 10
Hometown: 8
Boarded: 8
Destination: 8
Lifeboat: 1056
Body: 1564
Class: 8

In [7]:
#making a copy of dataset to safely work with missing values and etc.
df = raw_df.copy()

In [8]:
# 1.4 drop small value columns: passengerID, Body
df.drop(columns=['PassengerId', 'Body'], inplace=True)

[Python column naming convention](https://stackoverflow.com/questions/159720/what-is-the-naming-convention-in-python-for-variable-and-function)

In [9]:
# 1.5 rename column names according python naming convention
df.columns.str.lower()

Index(['survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'wikiid', 'name_wiki', 'age_wiki',
       'hometown', 'boarded', 'destination', 'lifeboat', 'class'],
      dtype='object')

In [10]:
updated_column_names = ['survived', 'p_class', 'name', 'sex', 'age', 'sib_sp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'wiki_id', 'name_wiki', 'age_wiki',
       'hometown', 'boarded', 'destination', 'lifeboat', 'class']
df.columns = updated_column_names

df.head(5)

,survived,p_class,name,sex,age,sib_sp,parch,ticket,fare,cabin,embarked,wiki_id,name_wiki,age_wiki,hometown,boarded,destination,lifeboat,class
0,NaN,3,"Andersson, Miss. Ida Augusta Margareta",female,38.0,4,2,347091,7.7750,NaN,S,640.0,"Andersson, Miss Ida Augusta Margareta",38.0,"Vadsbro, Sörmland, Sweden",Southampton,"Manistee, Michigan, US",NaN,3.0
1,0.0,3,"Lahoud, Mr. Sarkis",male,NaN,0,0,2624,7.2250,NaN,C,949.0,"Lahoud Ishaq Mowad, Mr. Sarkis",30.0,"Zgharta, Lebanon",Cherbourg,"Waterbury, Connecticut, US",NaN,3.0
2,1.0,3,"Barah, Mr. Hanna Assi",male,20.0,0,0,2663,7.2292,NaN,C,852.0,"Hanna, Mr. Borak Suleiman",27.0,"Hardîne, Lebanon",Cherbourg,"Wilkes-Barre, Pennsylvania, US",15,3.0
3,NaN,3,"Niklasson, Mr. Samuel",male,28.0,0,0,363611,8.0500,NaN,S,1067.0,"Niklasson, Mr. Samuel",28.0,"Västra Bogane, Orust Island, Sweden",Southampton,New York City,NaN,3.0
4,0.0,3,"Jensen, Mr. Niels Peder",male,48.0,0,0,350047,7.8542,NaN,S,890.0,"Jensen, Mr. Niels Peder ""Rasmus""",48.0,"Portland, Oregon, US",Southampton,"Portland, Oregon, US",NaN,3.0

In [11]:
# 1.6. count column survived values, include nan values into the output.

df['survived'].value_counts(dropna=False)

0.0    726
NaN    539
1.0    466
Name: survived, dtype: int64

In [12]:
# 1.7 / 1.8 create a new dataset that holds non-null values Survived columns.

survived_df = df[df['survived'].notna()]
survived_df.reset_index(drop=True, inplace=True)

In [13]:
count_na_per_column(survived_df)

survived: 0
p_class: 0
name: 0
sex: 0
age: 233
sib_sp: 0
parch: 0
ticket: 0
fare: 0
cabin: 912
embarked: 2
wiki_id: 2
name_wiki: 2
age_wiki: 4
hometown: 2
boarded: 2
destination: 2
lifeboat: 722
class: 2

In [14]:
survived_df.dtypes

survived       float64
p_class          int64
name            object
sex             object
age            float64
sib_sp           int64
parch            int64
ticket          object
fare           float64
cabin           object
embarked        object
wiki_id        float64
name_wiki       object
age_wiki       float64
hometown        object
boarded         object
destination     object
lifeboat        object
class          float64
dtype: object

In [15]:
# 1.10 fill AGE nan values 

median_age_per_p_class = dict(survived_df.groupby('p_class')['age'].median())

survived_df.loc[survived_df['age'].isnull(), 'age'] = survived_df['p_class'].map(median_age_per_p_class)

# survived_df['survived'].isna().sum()

In [16]:
survived_df["age"] = survived_df.groupby("p_class", group_keys=False)["age"].apply(
    lambda x: x.fillna(x.median())
)

C:\Users\MantasP\AppData\Local\Temp\ipykernel_9944\4108919043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survived_df["age"] = survived_df.groupby("p_class", group_keys=False)["age"].apply(

In [17]:
survived_df

,survived,p_class,name,sex,age,sib_sp,parch,ticket,fare,cabin,embarked,wiki_id,name_wiki,age_wiki,hometown,boarded,destination,lifeboat,class
0,0.0,3,"Lahoud, Mr. Sarkis",male,24.0,0,0,2624,7.2250,NaN,C,949.0,"Lahoud Ishaq Mowad, Mr. Sarkis",30.0,"Zgharta, Lebanon",Cherbourg,"Waterbury, Connecticut, US",NaN,3.0
1,1.0,3,"Barah, Mr. Hanna Assi",male,20.0,0,0,2663,7.2292,NaN,C,852.0,"Hanna, Mr. Borak Suleiman",27.0,"Hardîne, Lebanon",Cherbourg,"Wilkes-Barre, Pennsylvania, US",15,3.0
2,0.0,3,"Jensen, Mr. Niels Peder",male,48.0,0,0,350047,7.8542,NaN,S,890.0,"Jensen, Mr. Niels Peder ""Rasmus""",48.0,"Portland, Oregon, US",Southampton,"Portland, Oregon, US",NaN,3.0
3,0.0,3,"Stoytcheff, Mr. Ilia",male,19.0,0,0,349205,7.8958,NaN,S,1234.0,"Stoytcheff, Mr. Ilia",19.0,"Gumostnik, Lovec, Bulgaria",Southampton,"Chicago, Illinois, US",NaN,3.0
4,0.0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S,12.0,"Andrews, Mr. Thomas[60]",39.0,"Belfast, Ireland, UK",Belfast,"New York, New York, US",NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,1.0,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,C.A. 33595,15.7500,NaN,S,588.0,"Watt, Mrs. Elizabeth Inglis ""Bessie"" (née Milne)",40.0,"Aberdeen, Aberdeenshire, Scotland",Southampton,"Portland, Oregon, US",9,2.0
1188,0.0,3,"Vander Planke, Mr. Leo Edmondus",male,16.0,2,0,345764,18.0000,NaN,S,1282.0,"Vanderplancke, Mr. Leo Edmondus",15.0,"Zwevezele, Belgium",Southampton,"Fremont, Ohio, US",NaN,3.0
1189,0.0,2,"West, Mr. Edwy Arthur",male,36.0,1,2,C.A. 34651,27.7500,NaN,S,596.0,"West, Mr. Edwy Arthur",36.0,"Bournemouth, Dorset, England",Southampton,"Gainesville, Florida, US",NaN,2.0
1190,0.0,3,"Peduzzi, Mr. Joseph",male,24.0,0,0,A/5 2817,8.0500,NaN,S,1123.0,"Peduzzi, Mr. Giuseppe",24.0,"London, England",Southampton,New York City,NaN,3.0
1191,1.0,1,"Cherry, Miss. Gladys",female,30.0,0,0,110152,86.5000,B77,S,73.0,"Cherry, Miss Gladys",30.0,"London, England, UK",Southampton,"Vancouver, British Columbia, Canada",8,1.0

In [18]:
# # 1.10 fill CABIN nan values

survived_df['p_class'].unique()

array([3, 1, 2], dtype=int64)

In [19]:
survived_df[survived_df['class'] == 1]['cabin'].unique()

array(['A36', 'B3', 'A26', 'C62 C64', 'B5', 'A10', 'B18', 'D35',
       'C23 C25 C27', 'C99', 'C46', 'E34', 'C126', 'C82', 'A31', 'A23',
       'D46', 'C85', 'B96 B98', nan, 'E12', 'D36', 'D21', 'C78', 'D19',
       'C83', 'C92', 'D20', 'B39', 'C125', 'D37', 'C2', 'D26', 'E49',
       'C22 C26', 'B58 B60', 'E38', 'B94', 'E44', 'B51 B53 B55', 'B28',
       'D30', 'C123', 'E17', 'B35', 'B57 B59 B63 B66', 'C70', 'C93',
       'D15', 'C65', 'B69', 'A19', 'E67', 'E50', 'A7', 'D28', 'D17',
       'C30', 'B101', 'A14', 'B49', 'B37', 'E36', 'A6', 'C68', 'D6',
       'C32', 'C106', 'C104', 'C124', 'C50', 'B19', 'C90', 'B78', 'B86',
       'E24', 'C103', 'D50', 'B4', 'E8', 'D48', 'C86', 'B20', 'E25',
       'E58', 'D49', 'B82 B84', 'D11', 'B102', 'E68', 'E63', 'D9', 'C110',
       'C118', 'A16', 'D47', 'E46', 'B22', 'B77', 'A20', 'C49', 'E40',
       'D33', 'C148', 'E33', 'C7', 'B42', 'C87', 'B50', 'D10 D12', 'A24',
       'C45', 'C47', 'B79', 'C95', 'E31', 'A5', 'B73', 'C101', 'A34',
       'B80', 'B30', 'F33', 'C52', 'A32', 'C111', 'D45', 'D7', 'C91',
       'B71', 'T', 'C128', 'B38', 'B41', 'C54'], dtype=object)

In [20]:
survived_df[survived_df['class'] == 2]['cabin'].unique()

array([nan, 'D', 'E101', 'F33', 'E77', 'D56', 'F4', 'F2'], dtype=object)

In [21]:
survived_df[survived_df['class'] == 3]['cabin'].unique()

array([nan, 'G6', 'F G63', 'F38', 'F G73', 'F E69', 'E121', 'E10'],
      dtype=object)

looking into the returned values of passenger class. i will impute missing values with:
p_class == 1 -> Axx Bxx Cxx
p_class == 2 -> Dxx Exx Fxx
p_class == 3 -> gxx hxx

In [26]:
p_class_1_list = list(survived_df[survived_df['class'] == 1]['cabin'].unique())
p_class_2_list = list(survived_df[survived_df['class'] == 2]['cabin'].unique())
p_class_3_list = list(survived_df[survived_df['class'] == 3]['cabin'].unique())

def generate_cabin_number(p_class:int):
    if p_class == 1:
        generate_letter = np.random.choice(['A','B','C'])
        generate_number = str(np.random.randint(1,150))
        cabin_number = f'{generate_letter}{generate_number}'
        if cabin_number in p_class_1_list:
            generate_cabin_number(p_class=p_class)
            if cabin_number not in p_class_1_list:
                p_class_1_list.append(str(cabin_number))
            
    if p_class == 2:
        generate_letter = np.random.choice(['D','E','F'])
        generate_number = str(np.random.randint(1,150))
        cabin_number = f'{generate_letter}{generate_number}'
        if cabin_number in p_class_2_list:
            generate_cabin_number(p_class=p_class)
            if cabin_number not in p_class_1_list:
                p_class_2_list.append(str(cabin_number))

    if p_class == 3:
        generate_letter = np.random.choice(['G','H'])
        generate_number = str(np.random.randint(1,150))
        cabin_number = f'{generate_letter}{generate_number}'
        if cabin_number in p_class_3_list:
            generate_cabin_number(p_class=p_class)
            if cabin_number not in p_class_1_list:
                p_class_3_list.append(str(cabin_number))
    
    return cabin_number

In [28]:
survived_df['cabin'] = survived_df.apply(lambda x : x['cabin'] if x['cabin'] == x['cabin'] else generate_cabin_number(x['p_class']), axis=1)

C:\Users\MantasP\AppData\Local\Temp\ipykernel_9944\867818688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survived_df['cabin'] = survived_df.apply(lambda x : x['cabin'] if x['cabin'] == x['cabin'] else generate_cabin_number(x['p_class']), axis=1)